/packages/ICWin32SDK.3.2.3
/packages/Magick.NET-Q8-x86.7.0.0.0005
/Anzer/bin
/Anzer/obj
/packages/Lyncee.OpenTK.1.1.1173.43181/Lyncee.OpenTK.1.1.1173.43181.nupkg
/packages/Lyncee.OpenTK.1.1.1173.43181/lib/OpenTK.dll.config
/packages/Lyncee.OpenTK.1.1.1173.43181/lib/OpenTK.xml
